<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers>
      <server>
          <id>suiterepo</id>
          <username>indexadmin</username>
          <password>l3u!ld3r</password>
      </server>
      <server>
          <id>artifactory.blackducksoftware.com</id>
          <username>builder</username>
          <password>builder</password>
      </server>
      <server>
          <id>soleng-artifactory</id>
          <username>builder</username>
          <password>builder</password>
      </server>
      <server>
          <id>bds-artifactory</id>
          <username>builder</username>
          <password>builder</password>
      </server>
	  <server>
        <id>jfrog-snapshots</id>
        <username>akamen</username>
        <password>a398dfa3ef89692f6953a4e072f910ef5577833d</password>
	   </server>
  </servers>
  <mirrors/>
  <proxies/>
  <profiles>
  <profile>
    <id>sonarj</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <pluginRepositories>
      <pluginRepository>
        <id>hello2morrow.maven.repository</id>
        <url>http://maven.hello2morrow.com/repository</url>
      </pluginRepository>
    </pluginRepositories>
  </profile>
  <profile>
    <id>soleng</id>
      <repositories>
        <repository>
          <id>soleng-artifactory</id>
          <name>soleng</name>
          <url>http://artifactory.blackducksoftware.com:8081/artifactory/soleng</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
     </repositories>
  </profile>
    <profile>
      <id>jenkins</id>
      <repositories>
        <repository>
          <id>artifactory.blackducksoftware.com</id>
          <name>product-protex</name>
          <url>http://artifactory.blackducksoftware.com:8081/artifactory/product-protex</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>production-integration</id>
      <repositories>
      	<repository>
      		<id>bds-artifactory</id>
      		<name>integration-releases</name>
      		<url>http://suiterepo.blackducksoftware.com:8181/artifactory/bds-integrations</url>
      		<releases>
      		  <enabled>true</enabled>
      		</releases>
      		<snapshots>
      		  <enabled>false</enabled>
      		</snapshots>
      	</repository>
        <repository>
      		<id>artifactory.blackducksoftware.com</id>
      		<name>integration-snapshots</name>
      		<url>http://artifactory.blackducksoftware.com:8081/artifactory/integration-snapshot</url>
      		<releases>
      		  <enabled>true</enabled>
      		</releases>
      		<snapshots>
      		  <enabled>true</enabled>
      		</snapshots>
      	</repository>
      </repositories>
    </profile>
    <profile>
      <id>integration</id>
      <repositories>
      	<repository>
      		<id>bds-artifactory</id>
      		<name>integration-releases</name>
      		<url>http://artifactory.blackducksoftware.com:8081/artifactory/integration</url>
      		<releases>
      		  <enabled>true</enabled>
      		</releases>
      		<snapshots>
      		  <enabled>true</enabled>
      		</snapshots>
      	</repository>
        <repository>
      		<id>artifactory.blackducksoftware.com</id>
      		<name>integration-snapshots</name>
      		<url>http://artifactory.blackducksoftware.com:8081/artifactory/integration-snapshot</url>
      		<releases>
      		  <enabled>true</enabled>
      		</releases>
      		<snapshots>
      		  <enabled>true</enabled>
      		</snapshots>
      	</repository>
      </repositories>
    </profile>
    <profile>
       <id>sonar</id>
       <activation>
       <activeByDefault>true</activeByDefault>
       </activation>
       <properties>
         <sonar.jdbc.url>jdbc:postgresql://rubber:55430/sonar</sonar.jdbc.url>
         <sonar.jdbc.driver>org.postgresql.Driver</sonar.jdbc.driver>
         <sonar.jdbc.username>sonar</sonar.jdbc.username>
         <sonar.jdbc.password>sonar</sonar.jdbc.password>
         <!-- SERVER ON A REMOTE HOST -->
         <sonar.host.url>http://rubber:8080/sonar</sonar.host.url>
       </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jenkins</activeProfile>
    <!--<activeProfile>soleng</activeProfile>-->
  </activeProfiles>
</settings>
